h1 {
	margin: 0px;
	font-size: 20px;
	margin-bottom: 5px;
	text-align: center;
}

body {
	min-width: 200px;
	min-height: 200px;
}


#timer-container {
	height: 150px;
}

.work-container, .break-container {
	margin-bottom: 5px;
  	
  	text-align:center;
  	padding: 5px 5px;
}


/* ---- radio bubble properties ------ */

/*a label that immediately follows an input of type radio that is checked*/
input[type="radio"]:checked+label{
  color: red;
} 

.option-container label:hover {
  background-color: #dddddd;
}

.option-container {
  display: inline-block;
  border-bottom:3px solid #dddddd;
  background-color:#eeeeee;
  text-align:center;
}

.option-container label{
  display: inline-block;
  margin:0px;
  font-weight:bold;
  color: #009999; /* blue-ish */
  min-width: 20px;
  padding:5px 10px;
}

/* remove radio bubble */
.option-container input{
  display:none;
}


/* ------ options button --------- */
#go-to-options {
	height: 30px;
	/* set in bottom right */
    position: fixed;
    bottom: 0;
    right: 0;

    margin: 3px;
}


/* ------- Start / stop buttons --------- */

button {
  /* center button */
  display: block;
  margin: auto;
  
  color: white;
  margin-top: 10px;
  font-weight: bold;
  border: none;
  padding: 8px 20px; 
}

#startButton {
  background-color: #2de000; /* Green */   
  border-bottom:3px solid #24ba00;

}

#stopButton {
  background-color: #e03000; /* Red */   
  border-bottom:3px solid #aa2400;
}



/* ------- timer display --------- */

#countdown {
	display: block;
	margin-top: 20px;

	font-size: 50px;
	font-weight: bolder;
	color: #009999;
	text-align: center;

}